*{
    padding: 0;margin: 0;
    text-decoration: none;
}
.container {
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem;
}

.flexSB .link{
    margin-left: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}